#tailsRock:hover {
    cursor: pointer;
    transform: scale(1.2);

    animation: transitionTails 0.5s ease-in-out; 
    animation-iteration-count: infinite;
}

#tailsPaper:hover {
    cursor: pointer;
    transform: scale(1.2);

    animation: transitionTails 0.5s ease-in-out; 
    animation-iteration-count: infinite;
}

#tailsPaper:onclick {
    animation: selectedCard 0.6s ease-in-out both; 
}

#tailsScissors:hover {
    cursor: pointer;
    transform: scale(1.2);

    animation: transitionTails 0.5s ease-in-out; 
    animation-iteration-count: infinite;
}

#tailsScissors:active {
    animation: selectedCard 0.6s ease-in-out both; 
}

#sonicRock:hover {
    border: 5px solid rgb(246, 67, 67);
}

#sonicRock:active {
     animation: jogadaProibida 0.3s 2; 
}

#sonicPaper:hover {
    border:5px solid rgb(246, 67, 67);
}

#sonicPaper:active {
    animation: jogadaProibida 0.3s 2; 
}

#sonicScissors:hover {
    border:5px solid rgb(246, 67, 67);
}

#sonicScissors:active {
    animation: jogadaProibida 0.3s 2; 
}
