@keyframes leSnake {
    from, to { transform: translateY(0px) }
    50% { transform: translateY(15px) }
}
@keyframes colorEffects {
    from {
      filter: hue-rotate(0deg);
    }
    
    to {
      filter: hue-rotate(-360deg);
    }
}

@keyframes transition {
    0% {
    box-shadow: 0 0 5px 8px  rgb(50, 86, 184);
    }
    50% {
    box-shadow: 0 0 7px 8px  rgb(97, 132, 248);
    }
    100% {
    box-shadow: 0 0 5px 8px  rgb(50, 86, 184);
    }
  }

  @keyframes transitionTails {
    0% {
    box-shadow: 0 0 5px 8px  rgb(184, 115, 50);
    }
    50% {
    box-shadow: 0 0 7px 8px  rgb(248, 178, 97);
    }
    100% {
    box-shadow: 0 0 5px 8px  rgb(184, 137, 50);
    }
  }
  
  @keyframes leSnaske {
    from, to { transform: translateY(0px) }
    50% { transform: translateY(15px) }
}
@keyframes colorEffects {
    from {
      filter: hue-rotate(0deg);
    }
    
    to {
      filter: hue-rotate(-360deg);
    }
}

@keyframes transition {
    0% {
    box-shadow: 0 0 5px 8px  rgb(50, 86, 184);
    }
    50% {
    box-shadow: 0 0 7px 8px  rgb(248, 178, 97);
    }
    100% {
    box-shadow: 0 0 5px 8px  rgb(50, 86, 184);
    }
  }

  @keyframes transitionSonic {
    0% {
    box-shadow: 0 0 5px 8px  rgb(50, 86, 184);
    }
    50% {
    box-shadow: 0 0 7px 8px  rgb(57, 46, 209);
    }
    100% {
    box-shadow: 0 0 5px 8px  rgb(50, 86, 184);
    }
  }
  
  @keyframes jogadaProibida {
    from,
    to {
      transform: translate3d(0, 0, 0);
      background:linear-gradient(0deg, #ff5454 0%, rgb(255, 172, 117) 100%);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-10px, 0, 0);
      background:linear-gradient(0deg, rgb(255, 172, 117) 0%, #ff5454 100%);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(10px, 0, 0);
      background:linear-gradient(0deg, #ff5454 0%, rgb(255, 172, 117) 100%);
    }
  }

@keyframes selectedCard {
  0% {
    transform: rotate(0);
    }
  100% {
    transform: rotate(360deg);
    }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
