body {
    background: black;
}

header {
    background: linear-gradient(92deg, #feab3a 0%,rgb(50, 86, 184) 100%);
    border-radius: 20px;
    animation: colorEffects 1s infinite,
               transition 2.5s ease-in-out;


    position: absolute;
    left: 50%;
    transform: translate(-50%);

    width: 80%;
    height: 300px;
    margin-top: 30px;

    font-size: 30%;
}

#title  {
    background-color: white;
    border-radius: 20px;
    margin-top: 1.5%;
    margin-left:2.5%;
    padding-top: 20px;
    

    width: 95%;
    height: 240px;

    font-family: 'Press Start 2P', cursive;
    font-size: 10rem;
    text-align: center;
    color: darkorchid;

    animation: transition 2.5s ease-in-out; 
    animation-iteration-count: infinite;
}

#challenge  {
    background-color: white;
    border-radius: 20px;
    margin-top:-4.5%;
    margin-left:2.5%;
    

    width: 95%;
    height: 60px;

    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    text-align: center;
    color: darkorchid;
}

#mainBody {
    background: linear-gradient(92deg, #feab3a 0%,rgb(50, 86, 184) 100%);
    width: 80%;
    height: 450px; 

    margin: 10px;
    padding: 10px;
    border-radius: 20px;;

    top:350px;;
    position: relative;
    left:50%;
    transform: translate(-50%); 
    animation: transition 15s ease-in-out; 
    animation-iteration-count: infinite;

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#tailsStats {
    background: whitesmoke;
    
    width: 12%;
    height: 50px;
    padding-top: 10px; 

    top:710px;

    position: absolute;
    left:13.5%;

    border-radius: 20px;

    animation: transitionTails 2.5s ease-in-out; 
    animation-iteration-count: infinite;

    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    text-align: center;
    color: rgb(240, 165, 46);
}

#sonicStats {
    background: whitesmoke;
    
    width: 12%;
    height: 50px;
    padding-top: 10px;

    top:710px;

    position: absolute;
    left:53.5%;

    border-radius: 20px;

    animation: transitionSonic 2.5s ease-in-out; 
    animation-iteration-count: infinite;

    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    text-align: center;
    color: rgb(97, 132, 248);
}

.cards {
    display:flex;

    width: 7%;
    height: 130px;
    background: white;
    border:5px solid rgb(97, 132, 248);

    margin:10px;
    border-radius: 10px;
    padding: 10px;
       padding-top: 40px;
}

.caracter {
    width: 20%;
    height: 380px;
    background: white;
    border:10px solid rgb(97, 132, 248);

    margin:10px;
    border-radius: 20px;

    animation: transitionSonic 2.5s ease-in-out; 
    animation-iteration-count: infinite;

}

.dialogBox {
    width: 70%;
    height: 100px;
    background: black;

}

#tails {
    background: white;
    border:10px solid rgb(248, 178, 97);

    animation: transitionTails 2.5s ease-in-out; 
    animation-iteration-count: infinite;
}

#tailsRock {
    border:5px solid rgb(248, 178, 97);

}

#tailsPaper {
    border:5px solid rgb(248, 178, 97);
    
}

#tailsScissors {
    border:5px solid rgb(248, 178, 97);

}

#sound2 {
    display:none;
}

#sound3 {
    display:none;
}

#sound4 {
    display:none;
}

#cassinoMusic {
    height: 100px;
    width: 300px;


    transform: translate(200%);
    top:300px;
}